.article-page {
    max-width: @grid-width;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 3.2rem;

    &__side-bar {
        grid-column: 1 / span 3;

        background-color: @colors[bg-grey-20];

        padding: 2.8rem 1.2rem;
    }

    &__content {
        grid-column: 4 / span 8;
        padding: 2.8rem 0;
    }

    &__side-illustration {
        grid-column: 12 / span 1;

        background-image: url("../../assets/img/SideIllustration.svg");
        background-position: 50% 0;
        background-repeat: repeat-y;
    }
}