.welcome-section {
    height: 100vh;
    min-height: 40rem;
    max-height: 90rem;

    background-color: @colors[primary-20];
    background-image: linear-gradient(rgba(@colors[grey-100], .5), rgba(@colors[grey-100], .5)), url("../../assets/img/HomeBackgroundImage.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 3.2rem;

    @media print {
        break-after: page;
    }

    &__content {
        max-width: @grid-width - 6.8rem*2 - @grid-gutter*2;
        text-align: center;
    }

    &__heading {
        font-size: 5.2rem;
        line-height: 5.2rem;
        font-weight: 700;

        color: @colors[text-white];

        margin-bottom: 4rem;

        animation: slideInDown 1s ease both;

        @media print {
            color: @colors[text-grey-60];
        }
    }

    &__text {
        font-size: 2rem;
        line-height: 2.8rem;

        color: @colors[text-white];

        margin-bottom: 4rem;

        animation: blinkIn 1s ease both;

        @media print {
            color: @colors[text-grey-60];
        }
    }
}

.about-section {
    padding: 0 3.2rem;

    @media (max-width: #pxToEm(650)[]) {
        padding: 0 2.4rem;
    }

    @media print {
        break-before: page;
    }

    &__content {
        padding: 2.8rem 0;

        max-width: @grid-width;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        column-gap: @grid-gutter;

        @media (max-width: #pxToEm(1050)[]) {
            column-gap: 0;
        }

        @media (max-width: #pxToEm(650)[]) {
            padding: 2rem 0 2.4rem;
        }
    }

    &__image-side {
        // padding: 2.8rem 0;
        grid-column: 1 / span 5;

        @media (max-width: #pxToEm(1050)[]) {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    &__text-side {
        // padding: 5.6rem 0 2.8rem;
        grid-column: 6 / span 7;

        @media (max-width: #pxToEm(1050)[]) {
            grid-column: 1 / span 12;
        }
    }
}

.parts-section {
    background-color: @colors[bg-grey-20];
    padding: 0 3.2rem;

    @media (max-width: #pxToEm(650)[]) {
        padding: 0 2.4rem;
    }

    @media print {
        break-before: page;
    }

    &__content {
        max-width: @grid-width;
        margin: 0 auto;

        padding: 2.8rem 0;

        @media (max-width: #pxToEm(650)[]) {
            padding: 2.8rem 0 2.4rem;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: @grid-gutter;

        @media (max-width: #pxToEm(950)[]) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (max-width: #pxToEm(650)[]) {
            gap: 2.8rem;
        }

        @media (max-width: #pxToEm(560)[]) {
            grid-template-columns: minmax(0, 1fr);
        }
    }
}

.udemy-course-section {
    padding: 0 3.2rem;

    @media (max-width: #pxToEm(650)[]) {
        padding: 0 2.4rem;
    }

    @media print {
        break-before: page;
    }

    &__content {
        padding: 2.8rem 0;

        max-width: @grid-width;
        margin: 0 auto;

        @media (max-width: #pxToEm(650)[]) {
            padding: 2rem 0 2.4rem;
        }
    }

    &__bottom-part {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: @grid-gutter;

        @media (max-width: #pxToEm(980)[]) {
            display: flex;
            flex-direction: column-reverse;
            gap: 2rem;
        }

        > div {
            grid-row-end: span 6;
        }
    }
}