*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  background-color: #e5e5e5;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v8/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v8/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v8/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v8/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
body {
  font-family: 'Inter', sans-serif;
}
.heading-primary {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  color: #2e2f30;
}
.heading-secondary {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: #2e2f30;
}
.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: #2e2f30;
}
.paragraph {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #596063;
}
.list {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #596063;
  list-style-position: inside;
  padding-left: 1.2rem;
}
.link:link,
.link:visited {
  color: #e01fad;
  text-decoration: none;
}
.link--dark:link,
.link--dark:visited {
  color: #2e2f30;
}
.link:hover {
  text-decoration: underline;
}
.u-mb-base-1 {
  margin-bottom: 0.4rem !important;
}
.u-mb-base-2 {
  margin-bottom: 0.8rem !important;
}
.u-mb-base-3 {
  margin-bottom: 1.2rem !important;
}
.u-mb-base-4 {
  margin-bottom: 1.6rem !important;
}
.u-mb-base-7 {
  margin-bottom: 2.8rem !important;
}
.u-mr-base-3 {
  margin-right: 1.2rem !important;
}
.u-center-text {
  text-align: center !important;
}
.u-intro-text {
  max-width: 96.8rem !important;
  margin: 0 auto;
  text-align: center;
}
.page {
  margin: 0 auto;
  max-width: 180rem;
  background-color: #fff;
}
.header {
  height: 8rem;
  background-color: #1fade0;
  padding: 0 2.8rem;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 116.8rem;
  margin: 0 auto;
}
.header__title {
  font-size: 3.6rem;
  line-height: 3.6rem;
  font-weight: 700;
  color: #fff;
}
.header__navigation {
  list-style: none;
  display: flex;
  align-items: center;
}
.header__navigation li:not(:last-child) {
  margin-right: 2.4rem;
}
.header__navigation-item:link,
.header__navigation-item:visited {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.header__navigation-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.2rem;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-out;
}
.header__navigation-item:hover::before {
  transform: scaleX(1);
}
.footer {
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-color: #596063;
  color: #fff;
  text-align: center;
  padding: 1.2rem 1.6rem;
}
.button-primary:link,
.button-primary:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  outline: none;
  transition: all 0.1s;
  color: #2e2f30;
  background-color: #ade01f;
  text-decoration: none;
  border-radius: 4.4rem;
}
.button-primary:hover,
.button-primary:focus-visible {
  background-color: #9cca1c;
}
.button-primary:active {
  background-color: #8ab319;
}
.button-primary--with-icon:link,
.button-primary--with-icon:visited {
  display: inline-flex;
  align-items: center;
}
.button-primary--large:link,
.button-primary--large:visited {
  font-size: 2.4rem;
  padding: 1.2rem 2.4rem;
}
.button-primary svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: #2e2f30;
  margin-right: 0.8rem;
}
.navigation-heading {
  font-size: 3.2rem;
  line-height: 3.6rem;
  font-weight: 700;
  text-align: center;
  color: #e01fad;
  margin-bottom: 1.2rem;
}
.navigation {
  list-style: none;
  position: sticky;
  top: 0.8rem;
  max-height: 100vh;
  overflow-y: auto;
}
.navigation li:not(:last-child) {
  margin-bottom: 0.8rem;
}
.navigation__item:link,
.navigation__item:visited {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  background-color: #f9d2ef;
  color: #e01fad;
  border: 0.2rem solid #e01fad;
  border-radius: 0.8rem;
  text-align: center;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  transition: all 0.1s;
}
.navigation__item:hover,
.navigation__item--active:link,
.navigation__item--active:visited {
  background-color: #e01fad;
  color: #fff;
}
.fluid-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.input {
  font-family: inherit;
  font-size: 1.6rem;
  background-color: #ebf2f4;
  color: #2e2f30;
  border: none;
  border-radius: 0.2rem;
  outline-width: 0.1rem;
  outline-color: #2e2f30;
  width: 26.8rem;
  max-width: 100%;
  padding: 0.8rem 1.2rem;
}
.input--auto-width {
  width: unset;
}
.input:hover::-webkit-inner-spin-button,
.input:focus::-webkit-inner-spin-button {
  opacity: 0.8;
}
.color-input {
  background-color: #ebf2f4;
  border: 0.1rem solid #a2acaf;
  border-radius: 0.2rem;
  padding: 0.4rem;
  height: 3.6rem;
  outline-color: #2e2f30;
}
.checkbox-icon {
  display: inline-block;
  width: 0;
  height: 2rem;
  position: relative;
  pointer-events: none;
  opacity: 0;
}
.checkbox-icon svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: #1fe03e;
  position: absolute;
  top: 50%;
  right: 0.2rem;
  transform: translateY(-50%);
}
.checkbox-input {
  width: 2rem;
  height: 2rem;
  outline: none;
  position: relative;
}
.checkbox-input::after {
  display: inline-block;
  content: "";
  visibility: visible;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.2rem solid #a2acaf;
  border-radius: 0.2rem;
  background-color: #ebf2f4;
}
.checkbox-input:checked::after {
  border-color: #1fe03e;
}
.checkbox-input:checked + .checkbox-icon {
  opacity: 1;
}
.checkbox-input:focus-visible::after {
  border-color: #2e2f30;
}
.radio-input {
  display: flex;
  align-items: center;
}
.radio-input__input {
  width: 0;
  height: 1.2rem;
  position: relative;
  outline: none;
}
.radio-input__input::after {
  display: inline-block;
  visibility: visible;
  content: "";
  width: 1.2rem;
  height: 100%;
  border: 0.2rem solid #a2acaf;
  border-radius: 50%;
}
.radio-input__input::before {
  content: "";
  display: none;
  background-color: #1fe03e;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: 0.6rem;
  top: 50%;
  transform: translate(-50%, -50%);
}
.radio-input__input:checked::after {
  border-color: #1fe03e;
}
.radio-input__input:checked::before {
  display: block;
}
.radio-input__input:focus-visible::after {
  border-color: #2e2f30;
}
.radio-input__label {
  font-size: 1.6rem;
  padding-left: 2rem;
}
.range-input {
  width: 26.8rem;
  max-width: 100%;
}
.file-input {
  font-size: 1.6rem;
  max-width: 100%;
  color: #2e2f30;
  outline: none;
}
.file-input::-webkit-file-upload-button {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #ade01f;
  color: #2e2f30;
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem 1.2rem;
  margin-right: 0.8rem;
  cursor: pointer;
}
.file-input::-webkit-file-upload-button:hover,
.file-input::-webkit-file-upload-button:focus-visible {
  background-color: #9cca1c;
}
.file-input::-webkit-file-upload-button:active {
  background-color: #8ab319;
}
.file-input:focus-visible::-webkit-file-upload-button {
  background-color: #9cca1c;
}
.text-area {
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 2rem;
  background-color: #ebf2f4;
  color: #2e2f30;
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem 1.2rem;
  width: 100%;
  max-width: 100%;
  min-width: 15rem;
  min-height: 20rem;
  max-height: 40rem;
  resize: both;
  outline-width: 0.1rem;
  outline-color: #2e2f30;
}
.motion-demo {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  column-gap: 3.2rem;
}
.motion-demo__card {
  grid-column-end: span 2;
  height: 14rem;
  border: 0.1rem solid #1fade0;
  background-color: #1fade0;
  border-radius: 0.2rem;
  transform-origin: center;
  position: relative;
  cursor: pointer;
}
.motion-demo__card--opened {
  cursor: unset;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.motion-demo__card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  position: relative;
  z-index: 5;
}
.motion-demo__card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0.4rem;
  background-color: rgba(31, 173, 224, 0.8);
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  pointer-events: none;
}
.motion-demo__card-link:link,
.motion-demo__card-link:visited {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
  transition: all 0.2s;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #ade01f;
  color: #fff;
  text-decoration: none;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border: 0.1rem solid #9cca1c;
  border-top: none;
  padding: 0.2rem 0.4rem;
}
.motion-demo__card-link--opened:link,
.motion-demo__card-link--opened:visited {
  transform: translate(-50%, 0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.motion-demo__card-close-button {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  z-index: 6;
  background-color: #e01f1f;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  display: none;
}
.motion-demo__card-close-button--show {
  display: block;
}
.motion-demo__card-close-button svg {
  width: 0.8rem;
  height: 0.8rem;
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.microinteraction-demo {
  font-size: 2rem;
  line-height: 2rem;
  padding: 0.4rem 1.2rem;
  border-radius: 2.8rem;
  background-color: #ade01f;
  color: #2e2f30;
  width: fit-content;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.microinteraction-demo::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #1fade0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.microinteraction-demo--uploaded {
  cursor: unset;
}
.microinteraction-demo--uploaded::before {
  transform: translateX(0);
  transition: all 5s;
}
.microinteraction-demo__text {
  position: relative;
  display: inline-block;
}
.microinteraction-demo__text--hidden {
  transition: all 0.3s;
  transform: translateY(-50%);
  opacity: 0;
}
.microinteraction-demo__progress-number {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
}
.microinteraction-demo__progress-number--visible {
  transition: all 0.3s;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.part-card {
  background-color: #1fade0;
  border-radius: 0.2rem;
  overflow: hidden;
}
.part-card__image {
  height: 30rem;
  background-color: #fff;
  border: 0.2rem solid #1fade0;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  position: relative;
}
.part-card__image img {
  width: 100%;
  max-width: 24rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.part-card__content {
  padding: 0.4rem 0.8rem 0.8rem;
}
.part-card__name {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #fff;
  margin-bottom: 0.4rem;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.2rem solid #1fade0;
  background-color: #1fade0;
  border-radius: 0.2rem;
}
.welcome-section {
  height: 100vh;
  max-height: 90rem;
  background-color: #d2eff9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/img/HomeBackgroundImage.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-section__content {
  max-width: 96.8rem;
  text-align: center;
}
.welcome-section__heading {
  font-size: 5.2rem;
  line-height: 5.2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 4rem;
}
.welcome-section__text {
  font-size: 2rem;
  line-height: 2.8rem;
  color: #fff;
  margin-bottom: 4rem;
}
.about-section__content {
  padding: 2.8rem 0;
  max-width: 116.8rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 3.2rem;
}
.about-section__image-side {
  grid-column: 1 / span 5;
}
.about-section__image-side img {
  width: 100%;
}
.about-section__text-side {
  grid-column: 6 / span 7;
}
.parts-section {
  background-color: #ebf2f4;
}
.parts-section__content {
  max-width: 116.8rem;
  margin: 0 auto;
  padding: 2.8rem 0;
}
.parts-section__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3.2rem;
}
.udemy-course-section__content {
  padding: 2.8rem 0;
  max-width: 116.8rem;
  margin: 0 auto;
}
.udemy-course-section__bottom-part {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3.2rem;
}
.udemy-course-section__bottom-part > div {
  grid-row-end: span 6;
}
.article-page {
  max-width: 116.8rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 3.2rem;
}
.article-page__side-bar {
  grid-column: 1 / span 3;
  background-color: #ebf2f4;
  padding: 2.8rem 1.2rem;
}
.article-page__content {
  grid-column: 4 / span 8;
  padding: 2.8rem 0;
}
.article-page__side-illustration {
  grid-column: 12 / span 1;
  background-image: url("../../assets/img/SideIllustration.svg");
  background-position: 50% 0;
  background-repeat: repeat-y;
}
