@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.heading-primary {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;

    color: @colors[text-grey-80];

    #respond-tab-land({
        font-size: 4.44444rem;
        line-height: 4.44444rem;
    });
    #respond-tab-port({
        font-size: 5rem;
        line-height: 5rem;
    });
}

.heading-secondary {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.6rem;

    color: @colors[text-grey-80];

    #respond-tab-land({
        font-size: 3.55555rem;
        line-height: 4rem;
    });
    #respond-tab-port({
        font-size: 4rem;
        line-height: 4.5rem;
    });
}

.heading-tertiary {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.8rem;

    color: @colors[text-grey-80];

    #respond-tab-land({
        font-size: 2.66666rem;
        line-height: 3.11111rem;
    });
    #respond-tab-port({
        font-size: 3rem;
        line-height: 3.5rem;
    });
}

.paragraph {
    font-size: 1.6rem;
    line-height: 2rem;

    color: @colors[text-grey-60];

    #respond-tab-land({
        font-size: 1.77777rem;
        line-height: 2.22222rem;
    });
    #respond-tab-port({
        font-size: 2rem;
        line-height: 2.5rem;
    });
}

.list {
    font-size: 1.6rem;
    line-height: 2rem;

    color: @colors[text-grey-60];

    list-style-position: inside;

    padding-left: 1.2rem;

    #respond-tab-land({
        font-size: 1.77777rem;
        line-height: 2.22222rem;
    });
    #respond-tab-port({
        font-size: 2rem;
        line-height: 2.5rem;
    });
}

.link {
    &:link, &:visited {
        color: @colors[text-purple];
        text-decoration: none;
    }

    &--dark {
        &:link, &:visited {
            color: @colors[text-grey-80];
        }
    }

    &:hover {
        text-decoration: underline;
    }
}