.button-primary {
    &:link, &:visited {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 600;

        padding: .8rem 1.6rem;

        outline: none;

        transition: all .1s;

        color: @colors[grey-80];
        background-color: @colors[secondary-green];
        text-decoration: none;
        border-radius: 4.4rem;

        #respond-tab-land({
            font-size: 1.77777rem;
        });
        #respond-tab-port({
            font-size: 2rem;
        });
    }

    &:hover, &:focus-visible {
        background-color: darken(@colors[secondary-green], 5%);
    }

    &:active {
        background-color: darken(@colors[secondary-green], 10%);
    }

    &--with-icon {
        &:link, &:visited {
            display: inline-flex;
            align-items: center;
        }
    }
    &--animated {
        animation: scaleIn .5s .5s ease both;
    }

    &--large {
        &:link, &:visited {
            font-size: 2.4rem;
            padding: 1.2rem 2.4rem;
        }
    }

    svg {
        width: 1.6rem;
        height: 1.6rem;
        fill: @colors[grey-80];
        
        margin-right: .8rem;
    }
}