.motion-demo {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 3.2rem;

    &__card {
        grid-column-end: span 2;

        height: 14rem;

        border: .1rem solid @colors[primary];
        background-color: @colors[primary];
        border-radius: .2rem;

        transform-origin: center;
        position: relative;

        // overflow: hidden;

        cursor: pointer;

        @media (max-width: #pxToEm(540)[]) {
            grid-column-end: span 4;
        }

        &--opened {
            cursor: unset;
            box-shadow: 0 .5rem 1rem rgba(@colors[grey-100], .2);
        }
    }

    &__card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;

        position: relative;
        z-index: 5;
    }

    &__card-title {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 6;

        width: 100%;

        font-size: 1.6rem;
        line-height: 1.6rem;

        padding: .4rem;

        background-color: rgba(@colors[primary], .8);
        color: @colors[text-white];

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        pointer-events: none;
    }

    &__card-link {
        &:link, &:visited {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -100%);
            z-index: 1;

            transition: all .2s;
    
            font-size: .8rem;
            font-weight: 500;
    
            background-color: @colors[secondary-green];
            color: @colors[text-white];
            text-decoration: none;
            border-bottom-left-radius: .2rem;
            border-bottom-right-radius: .2rem;

            border: .1rem solid darken(@colors[secondary-green], 5%);
            border-top: none;
    
            padding: .2rem .4rem;
        }

        &--opened {
            &:link, &:visited {
                transform: translate(-50%, 0);
                box-shadow: 0 .5rem 1rem rgba(@colors[grey-100], .2);
            }
        }
    }

    &__card-close-button {
        width: 1.2rem;
        height: 1.2rem;

        position: absolute;
        top: .4rem;
        right: .4rem;
        z-index: 6;

        background-color: @colors[accent-red];
        border-radius: .2rem;
        border: none;

        cursor: pointer;

        display: none;

        &--show {
            display: block;
        }

        svg {
            width: .8rem;
            height: .8rem;
            fill: @colors[white];

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}