.navigation-heading {
    font-size: 3.2rem;
    line-height: 3.6rem;
    font-weight: 700;

    text-align: center;
    color: @colors[text-purple];

    margin-bottom: 1.2rem;
}

.navigation {
    list-style: none;

    position: sticky;
    top: .8rem;

    max-height: 100vh;
    overflow-y: auto;

    li:not(:last-child) {
        margin-bottom: .8rem;
    }

    &__item {
        &:link, &:visited {
            display: block;

            font-size: 2rem;
            font-weight: 600;

            background-color: @colors[secondary-purple-20];
            color: @colors[secondary-purple];
            border: .2rem solid @colors[secondary-purple];
            border-radius: .8rem;
            text-align: center;
            text-decoration: none;

            padding: .8rem 1.2rem;

            transition: all .1s;
        }

        &:hover,
        &--active:link,
        &--active:visited {
            background-color: @colors[secondary-purple];
            color: @colors[white];
        }
    }
}